apiVersion: v1
kind: Service
metadata:
  name: database-service
  namespace: bookabench
spec:
  type: NodePort
  selector:
    app: database-service
  ports:
    - port: 3001
      targetPort: 3001
      nodePort: 32001
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: database-service
  namespace: bookabench
spec:
  replicas: 1
  selector:
    matchLabels:
      app: database-service
  template:
    metadata:
      labels:
        app: database-service
    spec:
      containers:
        - name: database-service
          image: bookabench-database:dev
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3001
          envFrom:
            - configMapRef:
                name: database-config
          env:
            - name: MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: bookabench-secrets
                  key: MONGODB_URI
