apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: bookabench
spec:
  type: NodePort
  selector:
    app: auth-service
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 32000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: bookabench
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: bookabench-auth:dev
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: auth-config
