apiVersion: v1
kind: Secret
metadata:
  name: mongo-secret
type: Opaque
stringData:
  MONGO_INITDB_ROOT_USERNAME: "{{ .Values.mongodb.username }}"
  MONGO_INITDB_ROOT_PASSWORD: "{{ .Values.mongodb.password }}"
---
apiVersion: v1
kind: Service
metadata:
  name: mongodb
spec:
  type: {{ .Values.mongodb.serviceType }}
  selector:
    app: mongodb
  ports:
    - port: 27017
      targetPort: 27017
      {{- if eq .Values.mongodb.serviceType "NodePort" }}
      nodePort: {{ .Values.mongodb.nodePort }}
      {{- end }}
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongodb
spec:
  serviceName: mongodb
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
        - name: mongodb
          image: "{{ .Values.mongodb.image }}:{{ .Values.mongodb.tag }}"
          ports:
            - containerPort: 27017
          envFrom:
            - secretRef:
                name: mongo-secret
          volumeMounts:
            - name: data
              mountPath: /data/db
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: {{ .Values.mongodb.storage }}
