{{- if .Values.mongoExpress.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: mongo-express
spec:
  type: {{ .Values.mongoExpress.serviceType }}
  selector:
    app: mongo-express
  ports:
    - port: {{ .Values.mongoExpress.port }}
      targetPort: {{ .Values.mongoExpress.port }}
      {{- if eq .Values.mongoExpress.serviceType "NodePort" }}
      nodePort: {{ .Values.mongoExpress.nodePort }}
      {{- end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo-express
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo-express
  template:
    metadata:
      labels:
        app: mongo-express
    spec:
      containers:
        - name: mongo-express
          image: "{{ .Values.mongoExpress.image }}:{{ .Values.mongoExpress.tag }}"
          ports:
            - containerPort: {{ .Values.mongoExpress.port }}
          env:
            - name: ME_CONFIG_MONGODB_SERVER
              value: mongodb
            - name: ME_CONFIG_MONGODB_PORT
              value: "27017"
            - name: ME_CONFIG_MONGODB_ADMINUSERNAME
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: MONGO_INITDB_ROOT_USERNAME
            - name: ME_CONFIG_MONGODB_ADMINPASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: MONGO_INITDB_ROOT_PASSWORD
            - name: ME_CONFIG_BASICAUTH_USERNAME
              value: admin
            - name: ME_CONFIG_BASICAUTH_PASSWORD
              value: admin
{{- end }}
