apiVersion: v1
kind: Secret
metadata:
  name: bookabench-secrets
type: Opaque
stringData:
  MONGODB_URI: "{{ .Values.secrets.mongodbUri }}"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: auth-config
data:
  PORT: "{{ .Values.authService.port }}"
  NODE_ENV: "{{ .Values.authService.nodeEnv }}"
  DATABASE_SERVICE_URL: "http://database-service:{{ .Values.databaseService.port }}"
  ADMINID: "{{ .Values.authService.adminId }}"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: database-config
data:
  PORT: "{{ .Values.databaseService.port }}"
  NODE_ENV: "{{ .Values.databaseService.nodeEnv }}"
  DB_NAME: "{{ .Values.databaseService.dbName }}"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: business-config
data:
  PORT: "{{ .Values.businessService.port }}"
  NODE_ENV: "{{ .Values.businessService.nodeEnv }}"
  DATABASE_SERVICE_URL: "http://database-service:{{ .Values.databaseService.port }}"
  AUTH_SERVICE_URL: "http://auth-service:{{ .Values.authService.port }}"
  FRONTEND_URL: "{{ .Values.businessService.frontendUrl }}"
